.concepts{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.concepts-link{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

.concepts-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}