
html, body { height: 100%; margin: 0; }
body {  font-family: Roboto, "Helvetica Neue", sans-serif; }

#app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
}

main {
  flex: 1; /* Takes up remaining space */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  
  input[type="submit"]:hover {
    opacity: 1;
  }
  
  .container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }